<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	version="4.0">
	<display-name>0810-03</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>HelloServlet</servlet-name>
		<servlet-class>hello.HelloServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>HelloServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ps</servlet-name>
		<servlet-class>hello.ParamServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ps</servlet-name>
		<url-pattern>/param</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>persons</servlet-name>
		<servlet-class>hello.PersonsServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>persons</servlet-name>
		<url-pattern>/persons</url-pattern>
		<!-- <url-pattern>/persons.do</url-pattern> -->
		<!-- 서브넷 요청이 persons.do주소창으로 이동함 -->
		<!-- 실제로는 존재하진 않지만 확장자를 붙여 파일 인척 , Java에서 옜날부터 사용하던 .do 를 붙여서 사용 -->
	</servlet-mapping>

	<servlet>
		<servlet-name>persons2</servlet-name>
		<servlet-class>hello.PersonsServlet2</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>persons2</servlet-name>
		<url-pattern>/persons2</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>PersonServlet</servlet-name>
		<servlet-class>hello.PersonServlet</servlet-class>
		<init-param>
			<param-name>paramname1</param-name>
			<param-value>paramvalue1</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>


	<servlet-mapping>

		<servlet-name>PersonServlet</servlet-name>

		<url-pattern>/addperson.do</url-pattern>

	</servlet-mapping>
</web-app>